    <title>Lagunite</title>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/png" href="img/lagunite_iso_mini.png">


    <!-- build:css-->
    <link type="text/css" rel="stylesheet" href="src/lagunite-config.css" />
    <link type="text/css" rel="stylesheet" href="src/lagunite.css" />
    <!-- endbuild -->

    <!-- build:js -->
    <script src="../src/lagunite.js"></script>
    <!-- endbuild -->
    <script>
        window.addEventListener("load", function() {
            document.getElementById('spinner').classList.add('hidden');
        });
    </script>